@{ Layout = "_Layout"; }

@model SillyFactory.Models.Engineer;

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if(@Model.EMJoinEntities.Count == 0)
{
  <p>This engineer is not assigned to a machine.</p>
}
else
{
  <h4>Machines assigned to @Html.DisplayFor(model => model.Name):</h4>
  <ul>
  @foreach(var join in Model.EMJoinEntities)
  {
    <li>@join.Machine.Model (#@join.Machine.Serial)</li>
  }
  </ul>
}

<p>@Html.ActionLink("Update engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>